resources:
- type: compute.v1.subnetwork
  name: {{ env["name"] }}
  properties:
   network: $(ref.{{ properties["network"] }}.selfLink)
   ipCidrRange: {{ properties["ipCidrRange"] }}
   region: {{ properties["region"] }}
